In [42]:
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pyarrow.feather as feather

from datetime import datetime, timedelta
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

%matplotlib inline

In [43]:
database_total = 'data\\upbit_total\\'
database_feather = 'data\\upbit_feather\\'
database_2023 = 'data\\upbit_2023\\upbit\\'
database_2024 = 'data\\upbit_2024\\upbit\\'
data_total = os.listdir(database_total)
data_feather = os.listdir(database_feather)
data_2023 = os.listdir(database_2023)
data_2024 = os.listdir(database_2024)

In [44]:
new_columns = {
    '시각_utc': 'datetime',
    '시장-코인': 'coin',
    '시가':'open',
    '고가':'high',
    '저가':'low',
    '종가':'close',
    '누적거래금액':'volume'
}

In [124]:
d1 = feather.read_feather(database_feather+"BTC.feather")
d1 = d1.drop_duplicates()
d1 = d1.pivot(index='datetime', columns='coin', values='close')
d1 = d1.reset_index()
d1 = d1[d1['datetime'] >= datetime(2023,1,1,0,0,0)]
d1.columns.name = ''
d1

                  datetime     KRW-BTC
200    2023-01-01 00:00:00  21081000.0
201    2023-01-01 00:01:00  21061000.0
202    2023-01-01 00:02:00  21062000.0
203    2023-01-01 00:03:00  21064000.0
204    2023-01-01 00:04:00  21064000.0
...                    ...         ...
736496 2024-05-27 23:55:00  96141000.0
736497 2024-05-27 23:56:00  96151000.0
736498 2024-05-27 23:57:00  96153000.0
736499 2024-05-27 23:58:00  96146000.0
736500 2024-05-27 23:59:00  96050000.0

[736301 rows x 2 columns]

In [ ]:
for code in data_feather:
    if code == 'BTC.feather': continue
    feather_dir = database_feather + code
    df = feather.read_feather(feather_dir)
    df = df.drop_duplicates()
    df = df.pivot(index='datetime', columns='coin', values='close')
    df = df.reset_index()
    df = df[df['datetime'] >= datetime(2023,1,1,0,0,0)]
    df.columns.name = ''

    d1 = pd.merge(d1, df, how='left').ffill()
    print(code)

In [133]:
d2 = d1.set_index('datetime').dropna(axis=1)

In [135]:
feather.write_feather(d2, '91_coin_price.feather')

In [136]:
d1 = feather.read_feather(database_feather+"BTC.feather")
d1 = d1.drop_duplicates()
d1 = d1.pivot(index='datetime', columns='coin', values='volume')
d1 = d1.reset_index()
d1 = d1[d1['datetime'] >= datetime(2023,1,1,0,0,0)]
d1.columns.name = ''
d1

                  datetime      KRW-BTC
200    2023-01-01 00:00:00  102241230.0
201    2023-01-01 00:01:00   44221680.0
202    2023-01-01 00:02:00   52355056.0
203    2023-01-01 00:03:00   36748150.0
204    2023-01-01 00:04:00   30193576.0
...                    ...          ...
736496 2024-05-27 23:55:00  179406140.0
736497 2024-05-27 23:56:00  152501330.0
736498 2024-05-27 23:57:00   98951750.0
736499 2024-05-27 23:58:00  225303900.0
736500 2024-05-27 23:59:00  274413900.0

[736301 rows x 2 columns]

In [ ]:
for code in data_feather:
    if code == 'BTC.feather': continue
    feather_dir = database_feather + code
    df = feather.read_feather(feather_dir)
    df = df.drop_duplicates()
    df = df.pivot(index='datetime', columns='coin', values='volume')
    df = df.reset_index()
    df = df[df['datetime'] >= datetime(2023,1,1,0,0,0)]
    df.columns.name = ''

    d1 = pd.merge(d1, df, how='left').ffill()
    print(code)

In [139]:
feather.write_feather(d1, 'total_volume_data.feather')

In [140]:
d2 = d1.set_index('datetime').dropna(axis=1)

In [142]:
feather.write_feather(d2, '91_coin_volume.feather')

,datetime,KRW-BTC,KRW-1INCH,KRW-AAVE,KRW-ADA,KRW-AERGO,KRW-AHT,KRW-AKT,KRW-ALGO,KRW-ANKR,...,KRW-WAVES,KRW-WAXP,KRW-XEC,KRW-XEM,KRW-XLM,KRW-XRP,KRW-XTZ,KRW-ZETA,KRW-ZIL,KRW-ZRX
0,2023-01-01 00:00:00,102241230.0,100000.00,NaN,24509082.00,49681.8,3712310.80,NaN,1.239163e+04,3823175.500,...,1.529908e+08,5347879.5,NaN,344991.97,50347.617,69197260.0,731312.440,NaN,NaN,2.931980e+05
1,2023-01-01 00:01:00,44221680.0,1792900.00,929251.25,1803496.10,3597600.0,514607.80,NaN,7.228300e+04,289000.000,...,1.414955e+08,8500.0,NaN,344991.97,166885.200,92886070.0,20010.965,NaN,2153058.5,2.931980e+05
2,2023-01-01 00:02:00,52355056.0,1792900.00,929251.25,7183426.50,5035473.0,6737380.50,NaN,1.628763e+04,6641417.000,...,2.500177e+07,8500.0,1684076.0,344991.97,5983066.000,208290860.0,30000.000,NaN,137000.0,2.621962e+04
3,2023-01-01 00:03:00,36748150.0,1792900.00,929251.25,250976.61,4656828.5,15267022.00,NaN,1.628763e+04,17207.238,...,9.807820e+06,8500.0,6091092.0,489755.12,100000.000,126291240.0,30000.000,NaN,137000.0,1.000000e+07
4,2023-01-01 00:04:00,30193576.0,556812.56,928549.80,10543597.00,4656828.5,8671245.00,NaN,2.310505e+07,588000.000,...,5.961703e+07,598440.6,1615753.6,266450.00,2908259.000,67375816.0,30000.000,NaN,9172519.0,1.928267e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736296,2024-05-27 23:55:00,179406140.0,237324.14,18172262.00,7703688.50,7014371.0,221311.72,4297856.5,4.296125e+06,308653.120,...,5.429226e+06,6153370.5,10822561.0,6016878.50,46016.266,36478450.0,398720.120,4261950.5,2557874.2,2.139196e+06
736297,2024-05-27 23:56:00,152501330.0,237324.14,9939208.00,4238766.00,7014371.0,783950.00,15733722.0,1.002949e+04,2701014.800,...,1.707726e+05,15035175.0,4308036.0,6469799.50,46016.266,35011344.0,398720.120,417000.0,9780487.0,1.263652e+05
736298,2024-05-27 23:57:00,98951750.0,1051420.00,10838512.00,4788090.00,15192.0,240080.84,27735954.0,2.551037e+06,3465706.000,...,7.886480e+06,11747880.0,7246824.0,11729257.00,58642.855,13998174.0,614592.300,693408.0,4685073.5,3.030144e+05
736299,2024-05-27 23:58:00,225303900.0,247457.95,1370140.50,402343.72,15192.0,40200.00,7970522.5,7.932072e+06,3465706.000,...,4.291214e+06,4221034.0,30181732.0,11729257.00,58642.855,29832524.0,614592.300,960750.5,2084657.4,8.776398e+04
736300,2024-05-27 23:59:00,274413900.0,247457.95,3417336.80,11863874.00,9721118.0,224899.72,19183608.0,1.228208e+07,1328266.500,...,2.078343e+07,9247912.0,3403733.5,6606302.00,1205289.500,34465776.0,614592.300,2995489.8,5172152.5,2.591270e+05